<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="./components/vaadin-upload/vaadin-upload.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="my-icons.html">

<dom-module id="my-app">
    <template>
        <style>
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;

                display: block;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            .drop-label {
                color: white;
            }

            paper-progress {
                --paper-progress-active-color: var(--google-yellow-700);
                width: 100%;
            }
        </style>

        <app-location route="{{route}}"></app-location>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>

        <app-drawer-layout fullbleed>
            <!-- Drawer content -->
            <!--<app-drawer id="drawer">-->
            <!--<app-toolbar>Menu</app-toolbar>-->
            <!--<iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">-->
            <!--<a name="upload" href="/upload">View One</a>-->
            <!--</iron-selector>-->
            <!--</app-drawer>-->

            <!--https://accounts.google.com/o/oauth2/v2/auth?scope=https://www.googleapis.com/auth/devstorage.full_control&include_granted_scopes=true&state=state_parameter_passthrough_value&redirect_uri=http%3A%2F%2Flocalhost:8080&response_type=token&client_id=70915469269-67tda4no3g5noesb6t1qdnoiqp53qdvs.apps.googleusercontent.com-->

            <!-- Main content -->
            <app-header-layout has-scrolling-region>

                <app-header condenses reveals effects="waterfall">
                    <app-toolbar>
                        <!--<paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>-->
                        <div main-title>EasyScan</div>
                        <!--<div>-->
                        <!--<paper-icon-button icon="icons:file-upload" on-tap="uploadTap"></paper-icon-button>-->
                        <!--<paper-tooltip>Upload</paper-tooltip>-->
                        <!--</div>-->
                        <!--https://www.googleapis.com/upload/storage/v1/b/testbucket_andrew/o?uploadType=multipart&name=uploadedfile&key=AIzaSyD31Oic6DB6zs0oBQp_Rne9Z-AoVO1I9XY-->
                        <div hidden="[[hideUploadUi]]">
                            <vaadin-upload max-files="1"
                                           target="/api/convertpdf"
                                           method="POST"
                                           accept=".pdf"
                                           form-data-name="file">
                                <div class="drop-label">
                                    <iron-icon icon="file-upload"></iron-icon>
                                    <span>Drop files to scan...</span>
                                </div>
                            </vaadin-upload>
                        </div>
                    </app-toolbar>
                    <paper-progress indeterminate="[[progressBarIndeterminate]]"
                                    hidden="[[hideProgressBar]]" value="[[progressBarProgress]]"></paper-progress>
                </app-header>

                <iron-pages
                        selected="[[page]]"
                        attr-for-selected="name"
                        fallback-selection="view404"
                        role="main">
                    <x-upload name="upload"></x-upload>
                    <x-view404 name="view404"></x-view404>
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>
    </template>

    <script>
        Polymer({
            is: 'my-app',
            listeners: {
                'upload-start': 'uploadBegins',
                'upload-success': 'uploadSuccess',
                'upload-error': 'uploadFail',
                'upload-progress': 'uploadInProgress',
            },
            properties: {
                page: {
                    type: String,
                    reflectToAttribute: true,
                    observer: '_pageChanged'
                },
                hideUploadUi: {
                    type: Boolean,
                    value: false
                },
                hideProgressBar: {
                    type: Boolean,
                    value: true
                },
                progressBarIndeterminate: {
                    type: Boolean,
                    value: true
                },
                progressBarProgress: {
                    type: Number,
                    value: 0
                },
                token: {
                    type: String,
                    value: ''
                }
            },

            observers: [
                '_routePageChanged(routeData.page)',
            ],

            _routePageChanged: function (page) {
                this.page = page || 'upload';

//        if (!this.$.drawer.persistent) {
//          this.$.drawer.close();
//        }
            },

            _pageChanged: function (page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl('x-' + page + '.html');
                this.importHref(resolvedPageUrl, null, this._showPage404, true);
            },

            _showPage404: function () {
                this.page = 'view404';
            },

            uploadFail: function (detail) {
//                console.log('ERROR: ' + JSON.stringify(detail));
                Polymer.dom(this.root).querySelector('x-upload').uploadFail();
            },

            uploadSuccess: function (detail) {
                Polymer.dom(this.root).querySelector('x-upload').uploadSuccess(detail);
            },

            uploadInProgress: function (detail) {
                Polymer.dom(this.root).querySelector('x-upload').uploadInProgress(detail);
            },

            uploadBegins: function () {
                Polymer.dom(this.root).querySelector('x-upload').uploadBegins();
            },

            _randomFileId: function () {
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = Math.random() * 16 | 0, v = c === 'x' ? r : (r & 0x3 | 0x8);
                    return v.toString(16);
                });
            }
        });
    </script>
</dom-module>
