<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="shared-styles.html">

<dom-module id="x-upload">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
        </style>

        <div class="card">
            <template is="dom-if" if="{{showWelcomeScreen}}">
                <h1>Welcome</h1>
                <p>Please upload a file to get started.</p>
            </template>
            <template is="dom-if" if="{{!showWelcomeScreen}}">
                <div style="text-align: center;">
                    <div class="circle">
                        <iron-icon icon="[[statusIcon]]"></iron-icon>
                    </div>
                    <h1>[[resultTitle]]</h1>
                    <p>[[resultMessage]]</p>
                </div>
            </template>
        </div>
    </template>

    <script>
        Polymer({
            is: 'x-upload',
            listeners: {
                'upload-start': 'uploadBegins',
                'upload-success': 'uploadSuccess',
                'upload-error': 'uploadFail',
                'upload-progress': 'uploadInProgress'
            },
            properties: {
                successIcon: {
                    type: String,
                    value: 'icons:check'
                },
                failureIcon: {
                    type: String,
                    value: 'icons:clear'
                },
                unknownIcon: {
                    type: String,
                    value: 'icons:report'
                },
                statusIcon: {
                    type: String,
                    value: 'icons:cached'
                },
                showWelcomeScreen: {
                    type: Boolean,
                    value: true
                },
                resultTitle: {
                    type: String,
                    value: 'Title'
                },
                resultMessage: {
                    type: String,
                    value: 'Message'
                }
            },
            uploadBegins: function () {
                document.querySelector('my-app').hideProgressBar = false;
                document.querySelector('my-app').hideUploadUi = true;
                this.showWelcomeScreen = false;
                this.resultTitle = 'Uploading...';
                this.resultMessage = '';
                this.statusIcon = 'icons:cached';
            },
            uploadSuccess: function (detail) {
                console.log('Uploaded file...');
                this.resultTitle = 'Reading...';
                this.resultMessage = 'Please wait for the scan to complete';
                //result found
                this.showWelcomeScreen = false;
                document.querySelector('my-app').hideUploadUi = true;
                document.querySelector('my-app').progressBarIndeterminate = true;

                var imgArray = JSON.parse(detail.detail.xhrresp);
                var textArray = [];
                var successCount = 0;

                for (var i = 0; i < imgArray.length; i++) {
                    var formData = new FormData();
                    formData.append('file', imgArray[i]);

                    $.ajax({
                        async: false,
                        method: 'POST',
                        url: '/api/analyze',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
//                            console.log('success:  ' + response);
                            successCount++;
                            textArray.push(response);
                        },
                        error: function () {
                            console.log('error');
                        }
                    });
                }

                if (successCount == imgArray.length) {
                    //todo ask ai if the document is valid
                    console.log('CHECK!');
                    console.log('ARR: ' + textArray);

                    var formData = new FormData();
                    formData.append('text', textArray);
                    var that = this;

                    $.ajax({
                        method: 'POST',
                        url: '/api/validate',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response === 'valid') {
                                that.resultTitle = 'Valid';
                                that.resultMessage = 'The coverage is valid';
                                that.statusIcon = 'icons:check';
                                document.querySelector('my-app').hideProgressBar = true;
                            } else {
                                that.resultTitle = 'Invalid';
                                that.resultMessage = 'The coverage is invalid';
                                that.statusIcon = 'icons:clear';
                                document.querySelector('my-app').hideProgressBar = true;
                            }
                        },
                        error: function () {
                            console.log('validation error');
                        }
                    });
                } else {
                    this.resultTitle = 'Uh Oh';
                    this.resultMessage = 'An error has occurred. Please refresh and try again later.';
                    this.statusIcon = 'icons:report';
                    document.querySelector('my-app').hideProgressBar = true;
                }

                //begin request to server fro vision api
            },
            uploadFail: function () {
                document.querySelector('my-app').hideUploadUi = false;
            },
            uploadInProgress: function (detail) {
                document.querySelector('my-app').hideProgressBar = false;
                document.querySelector('my-app').hideUploadUi = true;
                document.querySelector('my-app').progressBarIndeterminate = true;
            }
        });
    </script>
</dom-module>
